.wy-side-nav-search {
    background-color: #ffffff;
}

.wy-side-nav-search>a, .wy-side-nav-search .wy-dropdown>a {
    color: #000;
}

.wy-side-nav-search input[type=text]{
    border-color: #343131;
}